Source: ruby-redis-store
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Balasankar C <balasankarc@autistici.org>
Build-Depends: debhelper (>= 7.0.50~), gem2deb
Standards-Version: 3.9.5
Vcs-Git: git://anonscm.debian.org/pkg-ruby-extras/ruby-redis-store.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-ruby-extras/ruby-redis-store.git;a=summary
Homepage: http://redis-store.org/redis-store
Testsuite: autopkgtest
XS-Ruby-Versions: all

Package: ruby-redis-store
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
# redis (>= 2.2), rake (~> 10, development), bundler (~> 1.3, development), mocha (~> 0.14.0, development), minitest (~> 5, development), git (~> 1.2, development)
Description: Redis stores for Ruby frameworks
 Namespaced Rack::Session, Rack::Cache, I18n and cache Redis stores for Ruby web frameworks.
